<!--  footer -->
<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class=" col-md-3 col-sm-6">
          <ul class="social_icon">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
          <p class="variat pad_roght2">There are many variat
            ions of passages of L
            orem Ipsum available
            , but the majority h
            ave suffered altera
            tion in some form, by
          </p>
        </div>
        <div class=" col-md-3 col-sm-6">
          <h3>LET US HELP YOU </h3>
          <p class="variat pad_roght2">There are many variat
            ions of passages of L
            orem Ipsum available
            , but the majority h
            ave suffered altera
            tion in some form, by
          </p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h3>INFORMATION</h3>
          <ul class="link_menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html"> About</a></li>
            <li><a href="service.html">Services</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="testimonial.html">Testimonial</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <h3>OUR Design</h3>
          <p class="variat">There are many variat
            ions of passages of L
            orem Ipsum available
            , but the majority h
            ave suffered altera
            tion in some form, by
          </p>
        </div>
        <div class="col-md-6 offset-md-6">
          <form id="hkh" class="bottom_form">
            <input class="enter" placeholder="Enter your email" type="text" name="Enter your email">
            <button class="sub_btn">subscribe</button>
          </form>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <p>© 2019 All Rights Reserved. Design by <a href="https://html.design/"> {{title}}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>