<!DOCTYPE html>
<html lang="en">

<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>limelight</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- style css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- Responsive-->
  <link rel="stylesheet" href="css/responsive.css">
  <!-- fevicon -->
  <link rel="icon" href="images/fevicon.png" type="image/gif" />
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
  <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
    media="screen">
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout in_page">
  <!-- loader  -->
  <div class="loader_bg">
    <div class="loader"><img src="images/loading.gif" alt="#" /></div>
  </div>
  <!-- end loader -->
  <!-- header -->
  {{> header}}
  <!-- end header inner -->
  <!-- end header -->
  <!-- testimonial -->
  <div class="Testimonial">
    <div class="container-fluid">
      <div class="row d_flex">
        <div class="col-md-8 pad_left0">
          <div id="testimon" class="carousel slide banner_testimonial" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#testimon" data-slide-to="0" class="active"></li>
              <li data-target="#testimon" data-slide-to="1"></li>
              <li data-target="#testimon" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container">
                  <div class="carousel-caption relative">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="text_humai">
                          <i><img src="images/tett1.png" alt="#" /></i>
                          <span>HumouThere</span>
                          <p>T suffered alteration in some form, by injected humouThere are many variations of passages
                            of Lorem Ipsum available, but the majority have suffered alteration in some form, by
                            injected humou</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="text_humai">
                          <i><img src="images/tett2.png" alt="#" /></i>
                          <span>HumouThere</span>
                          <p>T suffered alteration in some form, by injected humouThere are many variations of passages
                            of Lorem Ipsum available, but the majority have suffered alteration in some form, by
                            injected humou</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                  <div class="carousel-caption relative">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="text_humai">
                          <i><img src="images/tett1.png" alt="#" /></i>
                          <span>HumouThere</span>
                          <p>T suffered alteration in some form, by injected humouThere are many variations of passages
                            of Lorem Ipsum available, but the majority have suffered alteration in some form, by
                            injected humou</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="text_humai">
                          <i><img src="images/tett2.png" alt="#" /></i>
                          <span>HumouThere</span>
                          <p>T suffered alteration in some form, by injected humouThere are many variations of passages
                            of Lorem Ipsum available, but the majority have suffered alteration in some form, by
                            injected humou</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                  <div class="carousel-caption relative">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="text_humai">
                          <i><img src="images/tett1.png" alt="#" /></i>
                          <span>HumouThere</span>
                          <p>T suffered alteration in some form, by injected humouThere are many variations of passages
                            of Lorem Ipsum available, but the majority have suffered alteration in some form, by
                            injected humou</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="text_humai">
                          <i><img src="images/tett2.png" alt="#" /></i>
                          <span>HumouThere</span>
                          <p>T suffered alteration in some form, by injected humouThere are many variations of passages
                            of Lorem Ipsum available, but the majority have suffered alteration in some form, by
                            injected humou</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#testimon" role="button" data-slide="prev">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#testimon" role="button" data-slide="next">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="titlepage">
            <h2>Testimonial</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end design -->
  <!--  footer -->
  {{> footer}} 
  <!-- end footer -->
</body>

</html>